*{
    margin: 0;
    padding: 0;

   box-sizing:  border-box;
   -moz-box-sizing: border-box;
   font-family: sans-serif;

   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;

}

#toolbar{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: #2F2F2F;
    color: white;


}

#canvas{
    z-index: 5;
    position: fixed;
  
    margin-left: 0px;
    margin-top: 50px;
  }
  

.radcontrol{
    width: 30px;
    height: 30px;
    background-color: #4F4F4F;
    display: inline-block;
    text-align: center;
    padding: 5px;
}


#incrad:hover{
    background-color: #818181;
}

#decrad:hover{
    background-color: #818181;
}

#colors{
    float: right;
}

#rad{
    float: left;
}

.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
}

.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#downloadButton{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
}

#downloadButton:hover{
    background-color: #818181;
}

#upload{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
}

#upload:hover{
    background-color: #818181;
}

#clear{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
}

#clear:hover{
    background-color: #818181;
}

#pen{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
}

#pen:hover{
    background-color: #818181;
}

#erase{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
}

#erase:hover{
    background-color: #818181;
}

#text{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
}

#text:hover{
    background-color: #818181;
}

#fontSelect{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
}

#sizeSelect{
    float: right;
    margin-right: 20px;
    height: 30px;
    padding: 8px;
}



